@CHARSET "ISO-8859-1";

#div_principal{
	background-color:white;
	height:95%;
    width:95%;
    float:center;
    /*border-style: solid;*/
    position: absolute;
    border-color: red;
    z-index: -1;
}
#div_horizontal{
	
	height:25%;
    width:100%;
    float:left;
   /* border-style: solid;*/
    position: relative;
    z-index: 1;
  	
}

#div_vertical{
	
	width:20%;
	height:100%;
	float:left;
	border-style: solid;
	position: relative;
	z-index: 1;
}
#div_vertical_u{
	
	width:17%;
	height:100%;
	float:left;
	border-style: solid;
	position: relative;
	z-index: 1;
	/*clear: left;*/
}